@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$darkPurple: #A246FF;
$purple: #A659F4;
$pink: #A667F2;
$black: #252729;
$white: #F2F2F2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 3%;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to right, $purple, $pink);

  .App {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;

    .Creation {
      background-color: $white;
      display: flex;
      flex-direction: row;
      padding: 5%;
      height: 15vh;
      width: 22rem;
      align-items: center;
      border-radius: 15px;
      gap: 0.5rem;
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);

      input {
        width: 20vw;
        height: 6vh;
        padding: 1%;
        border: 0;
        outline: none;
      }

      button {
        height: 2.5rem;
        width: 2.5rem;
        background-color: $darkPurple;
        color: $white;
        border: 0;
        border-radius: 50%;
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }
  }
}