@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$darkPurple: #A246FF;
$purple: #A659F4;
$pink: #A667F2;
$black: #252729;
$white: #F2F2F2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 3%;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to right, $purple, $pink);

  .App {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;

    main {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      .Creation {
        background-color: $white;
        display: flex;
        flex-direction: row;
        padding: 5%;
        height: 15vh;
        width: 22rem;
        align-items: center;
        border-radius: 15px 15px 70px 0;
        gap: 0.5rem;
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);

        input {
          width: 20vw;
          height: 6vh;
          background-color: $white;
          padding: 1%;
          border: 0;
          font-size: 1rem;
          outline: none;
        }

        button {
          height: 3rem;
          width: 4.5rem;
          background-color: $darkPurple;
          color: $white;
          border: 0;
          border-radius: 50%;
          align-items: center;
          cursor: pointer;
          display: flex;
          justify-content: center;
        }
      }
      .List {
        background-color: $white;
        list-style: none;
        padding: 5%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);

        li {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 1rem;

          p {
            cursor: pointer;
          }

          button {
            background-color: transparent;
            color: $darkPurple;
            border: 0;
            cursor: pointer;
            padding: 2.5%;
            border-radius: 50%;
          }
        }
      }
    }

    section {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        color: $white;
        font-size: 5rem;
        text-transform: uppercase;
      }

      div {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        background-color: $white;
        width: min-content;
        padding: 2%;
        border-radius: 15px;

        img {
          width: 3rem;
        }
      }
    }
  }
}